@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --bgColor: #0071dc;
    --howerColor: #002d58;
    --mineText: Inter;
    --containerWidth: 1200px
}

section.heading {
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section.heading .title,
section.items .title {
    font-family: var(--mineText);
    font-size: 1.6rem;
    font-weight: 600;
}

section.heading .container {
    display: flex;
    border-bottom: 1px solid rgba(173, 173, 173, 0.803);
}

section.heading .container a .link {
    padding: 8px 20px;
    color: #000;
    border-bottom: 2px solid transparent;
}

section.heading .container a .link:hover {
    box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.11);
    background-color: rgba(51, 51, 51, 0.11);
    border-bottom-color: var(--bgColor);
}

section.sign {
    padding: 0px 70px;
    display: flex;
    gap: 30px;
    align-items: center;
}
section.sign div img{
    width: 80px;
    height: 80px;
}
section.sign .texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section.sign .texts .text{
  color: #2c2c2c;
  font-family: var(--mineText);
}
section.sign .texts .btn{
    background-color: var(--bgColor);
    border-radius: 30px;
    padding: 8px 30px;
    color: white;
    font-size: 1.1rem;
    font-weight: 560;
    font-family: var(--mineText);
    text-align: center;
    width: fit-content;
}
section.items{
    padding: 30px 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section.items .container{
    display: flex;
    position: relative;
}
section.items .container .arrow{
    align-self: center;
    border-radius: 50%;
    position: absolute;
    border: #000 solid 1px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 1.4rem;
    z-index: 10;
    cursor: pointer;
}
section.items .container .arrow-left{
    left: 0;
}
section.items .container .arrow-right{
    right: 0;
}
section.items .container .card{
    padding: 15px 10px;
    width: calc(100% / 6);
    overflow: hidden;
}
section.items .container .card *{
    user-select: none;
}
section.items .container .card .item{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
section.items .container .card .item .item-image img{
    width: 100%;
}
section.items .container .card .item .btn{
    padding: 8px 20px;
    border-radius: 30px;
    background-color: var(--bgColor);
    width: fit-content;
    color: white;
    font-size: 1.1rem;
    font-family: var(--mineText);
    font-weight: 500;
    margin-top: -40px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.2s;
}
section.items .container .card .item .btn::before{
    content: "+";
}
section.items .container .card .item .btn:hover{
    background-color: var(--howerColor);
}
section.items .container .card .item .texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section.items .container .card .item .texts .prices{
    display: flex;
    gap: 20px;
}
section.items .container .card .item .texts .prices .spec-price{
    font-family: var(--mineText);
    font-weight: 500;
    font-size: 1.05rem;
}
section.items .container .card .item .texts .prices .orig-price{
    color: #5e5e5e;
    font-family: var(--mineText);
    font-size: 1rem;
}