@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --mineText: Inter;
}


/*  sign-in */
section.sign-in {
    padding: 20px 100px;
}

section.sign-in .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    max-width: 500px;
    min-width: 300px;
    margin: auto;
}

section.sign-in .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 30px;
    border-radius: 50%;
}

section.sign-in .title {
    font-size: 1.4rem;
    color: #000;
    font-family: var(--mineText);
    font-weight: 600;
}

section.sign-in .text {
    color: #333;
}

section.sign-in form {
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 100%;
}

section.sign-in form label {
    color: black;
    font-family: var(--mineText);
    font-weight: 500;
    font-size: 14px;
}

section.sign-in form input {
    background-color: white;
    border: 1px solid #696969;
    padding: 16px;
    margin: 2px 0;
    font-family: var(--mineText);
    font-size: 1rem;
}

section.sign-in form input:hover {
    border: 1px solid #000;
    /* border-color: black; */
}

section.sign-in form input:focus {
    border: 3px solid #000;
    margin: 0;
}

section.sign-in form button {
    background-color: #0071dc;
    padding: 10px 30px;
    font-family: var(--mineText);
    font-weight: 500;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 30px;
}

section.sign-in form button:hover {
    background-color: #3013c2;
}

section.sign-in form .link a {
    text-decoration: underline;
    color: #000;
}

/* section.sign-in form .link a:hover{
    color: #0071dc;
    text-decoration: none;
} */

/*  sign-in */
/* footer */
section.login-footer {
    margin-top: 100px; 
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #33333369;
    gap: 50px;
}

section.login-footer .text {
    color: #333;
    font-size: 12px;
}

section.login-footer ul {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 5px 30px;
}

section.login-footer ul li a {
    color: #000;
    word-break: keep-all;
    font-size: 12px;
    font-family: var(--mineText);
    color: #333;
}

/* footer */